/*
declaration block:

selector{
    property1: value1; 
    property2: value2;
    property3: value3;
}  
*/

/*Styles for body: will apply to the whole page*/
body {   
    background: rgb(4, 103, 18); /* choosed my preferred background color*/ 
    color: #101a04; /* choosed my preferred text color */ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

    }


    nav{ 
        height: 6000px; 
        width: 200px; 
        float: left;   
        padding: 5px;
        line-height: 30px;
       
    }

    footer{ 
        text-align: center;
        margin-right: 200px;
       
    }
    #memeImage{
        margin: right 200px;
        
    }

    h1{
        text-align: center; 
        
    }


